
<div class="h-screen lg:p-2">


<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<mat-stepper class="max-h-fit" [linear]="isLinear" #stepper>



  <mat-step class="h-full bg-slate-500" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos de la propiedad</ng-template>

      <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Titulo" formControlName="titulo" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Descripcion" formControlName="descripcion" required>
      </mat-form-field>

            <mat-form-field>
        <mat-label>Url Imagen</mat-label>
        <input matInput placeholder="Imagenes Url" formControlName="imgUrl" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Etiquetas</mat-label>
        <input matInput placeholder="Etiquetas" formControlName="etiquetas" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Estado</mat-label>
        <input matInput placeholder="Estado" formControlName="estado" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext >Siguiente</button>
      </div>
    </form>
  </mat-step>



  <mat-step [stepControl]="secondFormGroup" label="Selecciona la ubicacion">
    <form [formGroup]="secondFormGroup">
      <h1 class="text-slate-600">Selecciona la ubicación arrastrando el marcador</h1>
      <div class="my-2">
        <button mat-button color="secondary" matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>

      <div>
        <google-map (mapInitialized)="onMapInitialized($event)" [center]="center" [zoom]="zoom" width="1000px" height="450px" />
      </div>


    </form>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Guardar</ng-template>
    <p class="text-slate-600">Si todos los datos están correctos, presione el botón de Guardar</p>
    <div>
      <button mat-button (click)="onSubmit()">Guardar</button>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Cancelar</button>
    </div>
  </mat-step>
</mat-stepper>

</div>
