<!-- <app-preloader *ngIf="submitted === 'success'" message="Iniciando sesión, por favor espere..."></app-preloader> -->
<!-- login form -->
<form
  class="my-10 space-y-6"
  [formGroup]="formulario"
  (ngSubmit)="onSubmit()"
  (keyup.enter)="onSubmit()"
  autocomplete="on"
>
  <div class="space-y-3 text-left">
    <div class="relative">
      <div class="relative">
        <input
          type="email"
          formControlName="email"
          id="email"
          class="block w-full px-4 py-2 text-sm bg-white border border-gray-300 rounded-md peer dark:border-gray-700 dark:bg-aero-oscuro"
          [class.is-invalid]="
            formulario.get('email')?.invalid && formulario.get('email')?.touched
          "
          placeholder=" "
          required
        />
        <label
          for="email"
          class="dark:text-white absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white rounded-lg px-2 text-sm dark:bg-aero-oscuro text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-black dark:peer-focus:text-white"
        >
        Correo electrónico
        </label>
      </div>
      <small *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="text-red-600">{{
        Por favor, ingrese un email válido
      </small>

    </div>
    <div class="relative">
      <div class="relative">
        <input
          [type]="!isTextFieldType ? 'password' : 'text'"
          formControlName="password"
          id="password"
          class="block w-full px-4 py-2 text-sm bg-white border border-gray-300 rounded-md peer dark:border-gray-700 dark:bg-aero-oscuro"
          required
          [class.is-invalid]="
            formulario.get('password')?.invalid &&
            formulario.get('password')?.touched
          "
          placeholder=" "
        />
        <label
          for="password"
          class="dark:text-white absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white rounded-lg px-2 text-sm dark:bg-aero-oscuro text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-black dark:peer-focus:text-white"
        >
          Contraseña
        </label>
      </div>
      <small
        class="text-red-600"
        *ngIf="submitted && f['password'].hasError('required')"
        >Ingrese la contraseña</small
      >

      <!-- <span
        class="absolute top-2.5 right-5 cursor-pointer text-gray-400"
        (click)="togglemyPasswordFieldType()"
      >
        <svg-icon
          *ngIf="!isTextFieldType"
          [src]="
            themeService.isDark
              ? assets.icons.EYE_OFF_DARK
              : assets.icons.EYE_OFF
          "
          [svgClass]="'h-5 w-5'"
        >
        </svg-icon>
        <svg-icon
          *ngIf="isTextFieldType"
          [src]="themeService.isDark ? assets.icons.EYE_DARK : assets.icons.EYE"
          [svgClass]="'h-5 w-5'"
        >
        </svg-icon>
      </span> -->
    </div>
  </div>

  <div class="flex items-center justify-between space-x-3">
    <div class="flex items-center">
      <input
        id="remember-me"
        name="remember-me"
        type="checkbox"
        class="rounded-sm cursor-pointer peer"
        formControlName="rememberMe"
        autocomplete="on"
      />
      <label
        for="remember-me"
        class="block ml-2 text-sm text-gray-500 peer-checked:text-primary-600"
      >
        Recuerdame}}
      </label>
    </div>

    <div class="text-sm">
      <a
        routerLink="/auth/forgot-password"
        class="font-medium hover:text-cumbres-amarillo text-cumbres-verde"
      >
        Olvidaste tu contraseña?
      </a>
    </div>
  </div>

  <!-- Submit Button -->
  <button
    [disabled]="
      this.formulario.controls['email'].hasError('required') ||
      this.formulario.controls['password'].hasError('required')
    "
    type="submit"
    class="relative flex justify-center w-full px-4 mb-10 text-sm text-white border-none rounded-md btn bg-aero-celeste hover:bg-aero-azul hover:bg-opacity-100 bg-opacity-80"
  >
    Iniciar Sesión  </button>
</form>
