<flowbite-navbar extraClass="border-b" [fluid]="true">
  <div class="flex items-center">
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 20 20"
      class="mr-6 h-6 w-6 cursor-pointer text-gray-600 dark:text-gray-400"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <a
      class="cursor-pointer text-xl font-semibold text-gray-600 dark:text-white"
      routerLink=""
      >Rocio Inmuebles</a
    >
  </div>
  <div class="flex items-center gap-2">
    <flowbite-dark-theme-toggle></flowbite-dark-theme-toggle>
  </div>
</flowbite-navbar>

<div class="w-full flex flex-col justify-center items-center my-10">
  <div class="flex md:px-10 w-full justify-center">
    <div class="">
      <div class="w-full flex justify-center p-2 px-4 max-w-7xl">
        <app-filter></app-filter>
      </div>

      <div class="flex w-full max-w-7xl p-2 px-4 my-10">
        <h1 class="text-2xl w-1/2">Venta de Inmuebles</h1>
        <div class="w-1/2 flex justify-end mx-2">
          <button
            class="dark:bg-slate-700 dark:hover:bg-slate-600 p-2 rounded-md px-5 flex gap-2"
          >
            <i class="fa-solid fa-map-location-dot mt-0.5"></i>
            <p>Ver mapa</p>
          </button>
        </div>
      </div>

      <!-- Render your actual data here -->
      <div class="w-full max-w-7xl flex md:gap-x-10 flex-wrap justify-center">
        <app-property-card-client
        *ngFor="
        let propiedad of filteredCards.slice(
          (currentPage - 1) * itemsPerPage,
          currentPage * itemsPerPage
        )
      "
          [routerLink]="['detalle',  propiedad.id]" routerLinkActive="router-link-active"
          [imgUrl]="propiedad.imgUrl"
          [descripcion]="propiedad.descripcion"
          [tags]="propiedad.etiquetas"
          [titulo]="propiedad.titulo"
        ></app-property-card-client>
      </div>
    </div>
  </div>
</div>

<app-paginador
  [itemsPerPage]="itemsPerPage"
  [arrayLength]="filteredCards.length"
  (onNext)="nextPage()"
  (onPrevius)="previusPage()"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (onChange)="onPageChange($event)"
></app-paginador>

