<div class="sidenav flex justify-center flex-col items-center pt-10">
  <h1 class="text-2xl md:text-4xl lg:text-5xl">Rocio Inmuebles</h1>
  <h2 class="text-xl md:text-3xl lg:text-3xl mt-5">Propiedades</h2>
</div>

<div class="w-full flex flex-col justify-center items-center mb-10">

<app-filter></app-filter>
<div class="flex md:p-10 w-screen">
        <div class="w-full flex-wrap flex gap-10  dark:bg-gray-900 p-10 text-neutral-600 justify-center">
              <!-- Render your actual data here -->
            <div class="w-full max-w-7xl flex md:gap-10 flex-wrap justify-center">
                <app-property-card-client
                *ngFor="let propiedad of propiedades"
                [imgUrl]="propiedad.imgUrl"
                [descripcion]="propiedad.descripcion"
                [tags]="propiedad.etiquetas"
                [titulo]="propiedad.titulo"
              ></app-property-card-client>
            </div>
        </div>
</div>

</div>
