
<div class="h-screen lg:p-10">



<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<mat-stepper class="h-full" [linear]="isLinear" #stepper>



  <mat-step class="h-full bg-slate-500" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Datos de la propiedad</ng-template>

      <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext >Siguiente</button>
      </div>
    </form>
  </mat-step>



  <mat-step [stepControl]="secondFormGroup" label="Selecciona la ubicacion">
    <form [formGroup]="secondFormGroup">

      <div>
        <google-map (mapDblclick)="addMarker($event)" (mapInitialized)="onMapInitialized($event)" [center]="center" [zoom]="zoom" width="1024px" height="720px" />
      </div>

      <code class="text-stone-900">
        {{ selectedPosition | json }}
      </code>

      <!-- <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field> -->


      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

</div>
