<div class="flex items-center justify-center p-4">
  <div class="bg-white p-8 rounded-lg shadow-lg flex flex-col md:flex-row items-center md:items-start max-w-4xl">
    <div class="md:w-1/2">
      <h1 class="text-sm text-amarillo-rocio">Hola, Bienvenido!</h1>
      <h2 class="text-3xl font-bold text-gray-800 my-4">Soy Rocío González</h2>
      <p class="text-gray-600 mb-4">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
      </p>
      <button class="bg-amarillo-rocio text-white py-2 px-4 rounded-lg shadow-md hover:bg-yellow-700 transition duration-300">
        Contáctame
      </button>
    </div>
    <div class="md:w-1/2 mt-6 md:mt-0 md:ml-6">
      <img class="rounded-lg shadow-md" src="/assets/images/about.png" alt="Rocío González">
    </div>
  </div>
</div>
