<div class="flex flex-col justify-between max-w-5xl p-4 mx-auto sm:p-6 lg:p-8">
  <div class="mb-8 text-center">
    <p class="text-xl font-extrabold text-amarillo-rocio">Hola, Bienvenido!
    </p>
    <h2 class="text-3xl font-bold">Soy Rocío González</h2>
    <p class="mt-4 text-left text-gray-800">
      Con más de una década de experiencia en el rubro inmobiliario, me apasiona
      ayudar a las personas a encontrar la propiedad de sus sueños. Mi enfoque
      en la atención al cliente y mi habilidad para negociar han sido claves en
      mi éxito como asesora inmobiliaria.
    </p>
  </div>
  <div class="grid mb-4 md:grid-cols-2">
    <div class="mb-4 text-left md:mr-4">
      <img
        src="/assets/images/rocio-profile.jpeg"
        alt="Profile Picture"
        class="shadow-lg rounded-3xl"
      />
    </div>
    <div class="text-center md:text-left">
      <h2 class="mb-4 text-2xl font-bold text-left">Sobre Mí</h2>
      <p class="mb-4 text-left text-gray-800">
        Apasionada de las actividades comerciales, me defino por ser una persona
        con ganas de aprender y con una gran habilidad en negociaciones
        inmobiliarias. He dedicado gran parte de mi vida a este rubro, ayudando
        a cientos de familias a encontrar el hogar perfecto.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-left">Contacto</h2>
      <p class="flex items-center mb-2 text-gray-800 ">
        <i class="mr-2 fas fa-phone-alt"></i>
        +595 973 205207
      </p>
      <p class="flex items-center mb-2 text-gray-800">
        <i class="mr-2 fas fa-envelope"></i>
        ross_gb@hotmail.com
      </p>
      <p class="flex items-center mb-4 text-gray-800">
        <i class="mr-2 fas fa-map-marker-alt"></i>
        Edificio Corporativo Isaura - km 4 1/2 - Ciudad del Este
      </p>
      <h2 class="mb-4 text-2xl font-bold text-left">Más Información</h2>
      <ul class="mb-4 text-left text-gray-800 list-disc list-inside">
        <li class="mb-2">Oficina propia.</li>
        <li class="mb-2">Vehículo propio.</li>
        <li class="mb-2">Disponibilidad total.</li>
      </ul>
    </div>
  </div>
  <div class="grid items-center md:grid-cols-1">
    <h2 class="mb-4 text-2xl font-bold">Carrera inmobiliaria</h2>
    <p class="mb-4 text-gray-700">
      Comencé mi carrera como agente comercial en Inmobiliaria Paraqvaria en
      2019, donde demostré mi habilidad para captar clientes potenciales y
      realizar visitas efectivas a los mismos. Durante mi tiempo en Paraqvaria,
      logré vender 10 lotes, consolidándome como una profesional destacada en el
      sector inmobiliario. Mi enfoque en las necesidades del cliente y mi
      capacidad para cerrar tratos fueron clave en mi éxito inicial.
    </p>
    <p class="mb-4 text-gray-700">
      Posteriormente, me uní al Condominio Terra Nova como agente comercial
      desde 2020 hasta 2022. En este rol, me encargué de la venta de lotes en el
      barrio y continué con mis visitas a clientes, lo que resultó en la venta
      de 8 lotes adicionales. Mi experiencia en Terra Nova me permitió
      perfeccionar mis habilidades de ventas y expandir mi red de contactos en
      el mercado inmobiliario.
    </p>
    <p class="mb-4 text-gray-700">
      Desde 2022, he trabajado como asesora inmobiliaria independiente,
      manejando una amplia gama de propiedades, desde lotes y casas particulares
      hasta departamentos en pozos y de entrega inmediata. He logrado vender 89
      lotes en el Condominio Acaray, 7 departamentos en el Condominio
      Residencial EcoVillas, además de otros múltiples lotes y departamentos en
      diversos proyectos. Mi capacidad para administrar propiedades y mi
      dedicación a mis clientes me han convertido en una asesora confiable y
      exitosa en el sector inmobiliario.
    </p>
  </div>
</div>
