<main class="flex flex-col items-center justify-center min-h-screen p-4 bg-cover bg-center" style="background-image: url('assets/images/background.webp');">
  <div class="container animate__animated animate__fadeInUp">
    <div class="header-container flex justify-end p-3">
      <div class="flex items-center justify-center p-3 cursor-pointer shadow-md hover:bg-slate-200 dark:bg-slate-500 hover:dark:bg-slate-400 hover:scale-105 transition-all duration-500 rounded-full">
        <a (click)="shareUrl()" title="Compartir">
          <svg width="20" height="20" viewBox="0 0 16 16" enable-background="new 0 0 24 24" class="sc-gKsewC iPWGYb">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.6464 3.85347L11 4.20702L11.7071 3.49992L11.3536 3.14636L8.35355 0.146362H7.64645L4.64645 3.14636L4.29289 3.49992L5 4.20702L5.35355 3.85347L7.5 1.70702V9.49992V9.99992H8.5V9.49992V1.70702L10.6464 3.85347ZM1 5.49994L1.5 4.99994H4V5.99994H2V14.9999H14V5.99994H12V4.99994H14.5L15 5.49994V15.4999L14.5 15.9999H1.5L1 15.4999V5.49994Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="image-container mb-5 shadow-md">
      <img src="assets/images/profile.jpg" alt="Profile Picture" class="rounded-full">
    </div>
    <div *ngIf="data" class="text-center mb-5">
      <h1 class="text-2xl font-semibold text-white">@{{data[0]?.name}}</h1>
      <h3 class="text-xl text-white">{{data[0]?.desc}}</h3>
    </div>
    <div *ngIf="data" class="w-full max-w-md">
      <div *ngFor="let link of data[0]?.links" class="tile-container w-full bg-slate-200 dark:bg-gray-800 text-slate-800 shadow-md dark:text-slate-200 my-2 rounded-lg">
        <a class=" w-full tile flex items-center justify-between p-4" [href]="link.url" target="_blank">
          <div class="flex items-center">
            <img [src]="link.icon" [alt]="link.name" class="w-8 h-8 mr-4">
            <p class="text-lg">{{link.name}}</p>
          </div>
          <svg width="18" height="18" viewBox="0 0 16 16" class="text-gray-600 dark:text-gray-400">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.6464 3.85347L11 4.20702L11.7071 3.49992L11.3536 3.14636L8.35355 0.146362H7.64645L4.64645 3.14636L4.29289 3.49992L5 4.20702L5.35355 3.85347L7.5 1.70702V9.49992V9.99992H8.5V9.49992V1.70702L10.6464 3.85347ZM1 5.49994L1.5 4.99994H4V5.99994H2V14.9999H14V5.99994H12V4.99994H14.5L15 5.49994V15.4999L14.5 15.9999H1.5L1 15.4999V5.49994Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </div>
      <div class="dark:bg-gray-800 text-slate-800 bg-slate-200 shadow-md dark:text-slate-200 w-full tile-container animate__animated animate__pulse animate__infinite my-2 rounded-lg">
        <a class="tile flex items-center justify-between p-4" routerLink="/propiedades">
          <div class="flex items-center">
            <h2 class="text-xl">Ver Propiedades</h2>
          </div>
          <svg width="18" height="18" viewBox="0 0 16 16" class="text-gray-600 dark:text-gray-400">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.6464 3.85347L11 4.20702L11.7071 3.49992L11.3536 3.14636L8.35355 0.146362H7.64645L4.64645 3.14636L4.29289 3.49992L5 4.20702L5.35355 3.85347L7.5 1.70702V9.49992V9.99992H8.5V9.49992V1.70702L10.6464 3.85347ZM1 5.49994L1.5 4.99994H4V5.99994H2V14.9999H14V5.99994H12V4.99994H14.5L15 5.49994V15.4999L14.5 15.9999H1.5L1 15.4999V5.49994Z"
              fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</main>
<footer class="mt-10 animate__animated animate__fadeInUp animate__faster animate__delay-1s text-center text-slate-400">
  <div class="footer-container">
    <p class="text-xl">&copy; 2024. Todos los derechos reservados by <a href="#" >Creier</a></p>
  </div>
</footer>
