main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 91%;
    max-width: 1200px;
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.text-container {
    text-align: center;

    .name {
        p{
            font-size: 20px;
            font-weight: bolder;
        }
    }

    .desc {
        p{
            margin-top: 0;
            font-size: 18px;
            margin-bottom: 30px;
            font-weight: bolder;
        }
    }
}

.header-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 5px;

    .share-button {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: #08e739;
    }

    .share-button:hover {
        background-color: rgb(232, 232, 232);
        transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
        transform: scale(1.02);
        cursor: pointer;
    }

    .share-button svg {
        padding-top: 15px;
        margin-left: 17px;
        color: rgb(110, 6, 238);
    }
}

.image-container {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
}

.tile-container {
    // width: 500px;
    // background-color: rgb(37, 37, 37);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        // color: rgb(240, 240, 240);
    }

    .tile {
        width: 100%;
        // background-color: rgb(37, 37, 37);
        border-radius: 17px;
        display: flex;
        justify-content: space-between;
    }

    .icon {
        margin: 15px 15px;
        width: 44px;
        height: 44px;
    }

    .tile:hover {
        transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
        transform: scale(1.02);
    }

    .tile-share-button {
        margin: 15px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        // background-color: rgb(52, 52, 52);
        aspect-ratio: 1 / 1;
    }

    .tile-share-button svg {
        margin-left: 12px;
        margin-top: 10px;
    }

    p {
        font-size: 20px;
    }

}

.footer-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 10px;
    }
}
