<div class="w-full">
  <button
    (click)="nuevaPropiedad()"
    class="text-white bg-amarillo-rocio hover:bg-amarillo-rocio/70 focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 w-full sm:w-auto"
  >
    Añadir propiedad
  </button>
</div>

<div class="justify-center hidden w-full sm:block">
  <div class="w-full overflow-x-auto rounded-lg border-x-2">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-2 py-3 text-center">Producto</th>
          <th scope="col" class="px-2 py-3 text-center">Tipo</th>
          <th scope="col" class="px-2 py-3 text-center">Categoría</th>
          <th scope="col" class="px-2 py-3 text-center">Ciudad</th>
          <th scope="col" class="px-2 py-3 text-center">Dimensiones</th>
          <th scope="col" class="px-2 py-3 text-center">Oferta</th>
          <th scope="col" class="px-2 py-3 text-center">Estado</th>
          <th scope="col" class="px-2 py-3 text-center bg-gray-100">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let propiedad of filteredCards.slice(
              (currentPage - 1) * itemsPerPage,
              currentPage * itemsPerPage
            )
          "
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <td class="px-6 py-4">
            <img
              [src]="propiedad.imgUrl"
              alt="Property Image"
              class="w-10 h-10 rounded"
            />
            {{ propiedad.title }}
          </td>
          <td class="px-6 py-4">{{ propiedad.transactionType }}</td>
          <td class="px-6 py-4">{{ propiedad.type | titlecase }}</td>
          <td class="px-6 py-4">{{ propiedad.city }}</td>
          <td class="px-6 py-4">{{ propiedad.dimension }}</td>
          <td class="px-6 py-4">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
              *ngIf="propiedad.isOffer"
              >Si</span
            >
            <span
              class="bg-red-500 text-white text-xs font-medium px-2.5 me-2 py-0.5 rounded"
              *ngIf="!propiedad.isOffer"
              >No</span
            >
          </td>
          <td class="px-6 py-4">
            <span
              class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded"
              *ngIf="propiedad.isActive"
              >Activo</span
            >
            <span
              class="bg-red-500 text-white text-xs font-medium px-2.5 me-2 py-0.5 rounded"
              *ngIf="!propiedad.isActive"
              >Inactivo</span
            >
          </td>
          <td class="px-6 py-4 bg-gray-50">
            <button
              (click)="editarPropiedad(propiedad)"
              class="text-white bg-amarillo-rocio hover:bg-amarillo-rocio/70 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-xs px-2.5 py-2.5 text-center mx-1 mb-2"
            >
              Editar
            </button>
            <button
              (click)="eliminarPropiedad(propiedad)"
              class="text-white bg-red-600 hover:bg-red-600/70 focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-xs px-2.5 py-2.5 text-center mx-1 mb-2"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="block w-full sm:hidden">
  <div
    *ngFor="
      let propiedad of filteredCards.slice(
        (currentPage - 1) * itemsPerPage,
        currentPage * itemsPerPage
      )
    "
    class="p-4 mb-4 bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
  >
    <div class="flex items-center mb-4">
      <img
        [src]="propiedad.imgUrl"
        alt="Property Image"
        class="w-16 h-16 mr-4 rounded"
      />
      <div>
        <h2 class="text-lg font-bold text-gray-900 dark:text-white">
          {{ propiedad.title }}
        </h2>
      </div>
    </div>
    <div class="mb-4">
      <p>
        <span class="font-semibold text-gray-900 dark:text-white">Tipo:</span>
        {{ propiedad.transactionType | titlecase }}
      </p>
      <p>
        <span class="font-semibold text-gray-900 dark:text-white"
          >Categoría:</span
        >
        {{ propiedad.type | titlecase }}
      </p>
      <p>
        <span class="font-semibold text-gray-900 dark:text-white">Ciudad:</span>
        {{ propiedad.city }}
      </p>
      <p>
        <span class="font-semibold text-gray-900 dark:text-white"
          >Dimensiones:</span
        >
        {{ propiedad.dimension }} m²
      </p>
      <p>
        <span class="font-semibold text-gray-900 dark:text-white">Oferta:</span>
        <span *ngIf="propiedad.isOffer" class="text-green-500">Si</span>
        <span *ngIf="!propiedad.isOffer" class="text-red-500">No</span>
      </p>
      <p>
        <span class="font-semibold text-gray-900 dark:text-white">Estado:</span>
        <span *ngIf="propiedad.isActive" class="text-green-500">Activo</span>
        <span *ngIf="!propiedad.isActive" class="text-red-500">Inactivo</span>
      </p>
    </div>
    <div class="flex justify-between">
      <button
        (click)="editarPropiedad(propiedad)"
        class="px-4 py-2 text-xs font-medium text-white rounded-lg bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200"
      >
        Editar
      </button>
      <button
        (click)="eliminarPropiedad(propiedad)"
        class="px-4 py-2 text-xs font-medium text-white rounded-lg bg-gradient-to-br from-orange-400 to-red-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200"
      >
        Eliminar
      </button>
    </div>
  </div>
</div>

<app-paginador
  [itemsPerPage]="itemsPerPage"
  [arrayLength]="filteredCards.length"
  (onNext)="nextPage()"
  (onPrevius)="previusPage()"
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (onChange)="onPageChange($event)"
></app-paginador>
