<!-- login form -->
<form
  class="my-10 space-y-6"
  [formGroup]="passForm"
  (ngSubmit)="resetPassword()"
>
  <div class="space-y-1 text-left">
    <div class="relative">
      <input
        type="email"
        formControlName="email"
        id="email"
        class="block w-full px-4 py-2 text-sm bg-white border border-gray-300 rounded-md peer dark:border-gray-700 dark:bg-aero-oscuro"
        placeholder=" "
        required
      />
      <label
        for="email"
        class="dark:text-white absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white rounded-lg px-2 text-sm dark:bg-aero-oscuro text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-black dark:peer-focus:text-white"
      >
        Correo electrónico
      </label>
    </div>

    <small *ngIf="this.passForm.controls['email'].invalid && this.passForm.get('email')?.touched" class="text-red-600">
      Por favor, ingrese un email válido
    </small>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-center space-x-2">
    <button
      [disabled]="this.passForm.controls['email'].hasError('required')"
      type="submit"
      class="relative flex justify-center px-4 text-sm font-medium text-white border-none rounded-md bg-aero-celeste w-28 sm:w-48 btn hover:bg-aero-azul"
    >
      Enviar
    </button>
    <button
      (click)="goBack()"
      type="button"
      class="relative flex justify-center px-4 text-sm font-medium text-white border-none rounded-md w-28 sm:w-48 btn bg-aero-celeste hover:opacity-100 hover:bg-aero-azul"
    >
      Volver
    </button>
  </div>
</form>
