<flowbite-navbar extraClass="border-b" [fluid]="true">
  <div class="flex items-center">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 20 20"
      class="mr-6 h-6 w-6 cursor-pointer text-gray-600 dark:text-gray-400" height="1em" width="1em"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"></path>
    </svg>
    <a class="cursor-pointer text-xl font-semibold text-gray-600 dark:text-white" routerLink="">Rocio Inmuebles</a>
  </div>
  <div class="flex items-center gap-2">
    <flowbite-dark-theme-toggle></flowbite-dark-theme-toggle>
  </div>
</flowbite-navbar>


<div *ngIf="!propiedad">Cargando...</div>


<div class="bg-gray-100 dark:bg-gray-900" *ngIf="propiedad">
  <div class="flex justify-center flex-col w-full items-center ">

    <div class="w-full flex flex-col justify-center max-w-7xl px-3 md:p-0">
      <div class="flex w-full justify-center xl:justify-start ">

        <div class="overflow-hidden p-5 ">

          <app-gallery *ngIf="propiedad" [image]="propiedad"></app-gallery>
          <div class="flex justify-between w-full ">
            <p class="font-extrabold text-xl lg:text-3xl my-5">ALQUILO - {{propiedad.titulo}} </p>
            <div class="my-5">
              <p class="font-extrabold text-xl lg:text-3xl ">U$S 2.100</p>
              <p align="end" class="text-xs md:text-base">Precio Alquiler</p>
            </div>
          </div>

        </div>

        <app-consultar-card-desktop></app-consultar-card-desktop>

      </div>
    </div>
    <div class="w-full flex flex-col justify-center max-w-7xl my-0 mx-10 px-3">

      <app-consultar-card-mobile></app-consultar-card-mobile>

      <app-propiedades-ubicacion [propiedad]="propiedad"></app-propiedades-ubicacion>

      <app-propiedades-descripcion [propiedad]="propiedad"></app-propiedades-descripcion>

    </div>
  </div>

</div>

<footer class="my-10 p-10 w-full flex justify-center ">
  <div class="footer-container">
    <!-- <p>&copy; 2023 {{item.name}}</p> -->
    <small>&copy; 2023. Todos los derechos reservados by <a href="#">Creier</a></small>
  </div>
</footer>
