<flowbite-navbar extraClass="border-b" [fluid]="true">
  <div class="flex items-center">
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 20 20"
      class="mr-6 h-6 w-6 cursor-pointer text-gray-600 dark:text-gray-400"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
        clip-rule="evenodd"
      ></path>
    </svg>
    <a
      class="cursor-pointer text-xl font-semibold text-gray-600 dark:text-white"
      routerLink=""
      >Rocio Inmuebles</a
    >
  </div>
  <div class="flex items-center gap-2">
    <flowbite-dark-theme-toggle></flowbite-dark-theme-toggle>
  </div>
</flowbite-navbar>

<div class="flex justify-center">

<div
  class="w-full flex flex-col justify-center my-10 max-w-7xl p-10 md:p-0"
>
  <div class="flex w-full justify-center xl:justify-start ">

    <div class="overflow-hidden p-5 ">
      <app-gallery></app-gallery>
        <div class="flex justify-between w-full ">
    <p class="font-extrabold text-xl lg:text-3xl my-5">ALQUILO - Condominio Ecovilla</p>
    <div class="my-5">
      <p class="font-extrabold text-xl lg:text-3xl ">U$S 2.100</p>
      <p align="end" class="text-xs md:text-base">Precio Alquiler</p>
    </div>
  </div>
</div>

    </div>

<div class="" *ngIf="">
      <div class="w-3/12 h-[500px] fixed z-50 hidden xl:flex">
        <div class="bg-gray-800 w-96 mx-3 rounded-lg p-5 ">
          <h1>
                        Consultar
          </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iure nam sit eveniet magnam vel animi ratione nesciunt asperiores voluptas aut, reprehenderit labore tenetur deserunt sed tempore, cum ullam cupiditate.
      </p>
        </div>
    </div>
</div>


  </div>




</div>

<div class="w-full flex flex-col justify-center items-center max-w-7xl my-0">
  <div class="max-w-4xl flex-col dark:bg-gray-800 rounded-lg my-5">
    <p class="font-extrabold w-full text-2xl">Consultar</p>
    detalles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
    cumque natus. Perferendis asperiores maiores tempore quae quia, nisi nulla
    amet, dolorum recusandae quam eum? Debitis sit tenetur in nostrum
    repellendus.

     <p class="font-extrabold w-full text-2xl">Consultar</p>
    detalles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
    cumque natus. Perferendis asperiores maiores tempore quae quia, nisi nulla
    amet, dolorum recusandae quam eum? Debitis sit tenetur in nostrum
    repellendus.

     <p class="font-extrabold w-full text-2xl">Consultar</p>
    detalles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
    cumque natus. Perferendis asperiores maiores tempore quae quia, nisi nulla
    amet, dolorum recusandae quam eum? Debitis sit tenetur in nostrum
    repellendus.


     <p class="font-extrabold w-full text-2xl">Consultar</p>
    detalles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
    cumque natus. Perferendis asperiores maiores tempore quae quia, nisi nulla
    amet, dolorum recusandae quam eum? Debitis sit tenetur in nostrum
    repellendus.

     <p class="font-extrabold w-full text-2xl">Consultar</p>
    detalles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
    cumque natus. Perferendis asperiores maiores tempore quae quia, nisi nulla
    amet, dolorum recusandae quam eum? Debitis sit tenetur in nostrum
    repellendus.
     <p class="font-extrabold w-full text-2xl">Consultar</p>
    detalles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
    cumque natus. Perferendis asperiores maiores tempore quae quia, nisi nulla
    amet, dolorum recusandae quam eum? Debitis sit tenetur in nostrum
    repellendus.
     <p class="font-extrabold w-full text-2xl">Consultar</p>
    detalles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
    cumque natus. Perferendis asperiores maiores tempore quae quia, nisi nulla
    amet, dolorum recusandae quam eum? Debitis sit tenetur in nostrum
    repellendus.

     <p class="font-extrabold w-full text-2xl">Consultar</p>
    detalles Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
    cumque natus. Perferendis asperiores maiores tempore quae quia, nisi nulla
    amet, dolorum recusandae quam eum? Debitis sit tenetur in nostrum
    repellendus.
    <div class="w-full">
      <div class="">
        <h1 class="font-extrabold text-2xl mb-2">Ubicación</h1>
        <p class="mb-3">Ciudad del Este</p>
        <div
          style="overflow: hidden; width: 82%; position: relative"
          class="rounded-lg mx-4"
        >
          <iframe
            class="rounded-lg"
            width="82%"
            height="440"
            src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Ciudad%20del%20Este%2C%20ecovilla+(T%C3%ADtulo)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe>
          <div
            style="
              position: absolute;
              width: 80%;
              bottom: 10px;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              color: #000;
              text-align: center;
            "
          >
            <small style="line-height: 1.8; font-size: 2px; background: #fff"
              >Powered by
              <a href="https://embedgooglemaps.com/en/">embedgooglemaps EN</a> &
              <a href="https://sms-lån-utan-uc.nu/">sms-lån-utan-uc.nu</a></small
            >
          </div>
          <style>
            #gmap_canvas img {
              max-width: none !important;
              background: none !important;
            }
          </style>
        </div>
        <br />
      </div>
      <div>
        Detalles de la propiedad
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, vel rem.
          Ad ut dolorem officiis cupiditate dolor quis at voluptatibus officia,
          placeat est nihil odit ducimus natus commodi quia sapiente.
        </div>
      </div>
    </div>
  </div>

</div>
