// @import '@fancyapps/ui/dist/fancybox/fancybox.css';
// @import '@fancyapps/ui/dist/carousel/carousel.thumbs.css';


/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
    // background-color: rgb(10, 10, 10);
    // color: rgb(240, 240, 240);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// :root {
//   --f-brand-color: #2563eb;
// }

#productCarousel,
.f-thumbs.is-classic,
.fancybox__toolbar,
.fancybox__nav {
  --f-button-width: 30px;
  --f-button-height: 30px;
  --f-button-border-radius: 4px;

  --f-button-color: #0d0c22;
  --f-button-hover-color: var(--f-brand-color);

  --f-button-bg: #f1f5f9;
  --f-button-hover-bg: #e2e8f0;
  --f-button-active-bg: #e2e8f0;

  --f-button-svg-width: 20px;
  --f-button-svg-height: 20px;
  --f-button-svg-stroke-width: 2.25;
  --f-button-svg-filter: none;

  --f-button-svg-disabled-opacity: 0.2;
}

.f-carousel__slide {
  display: flex;
  align-items: center;
  justify-items: center;
}

// .f-thumbs.is-classic {
//   --f-thumb-width: 120px;
//   --f-thumb-height: 80px;
//   --f-thumb-gap: 8px;

//   --f-thumb-opacity: 1;
//   --f-thumb-selected-opacity: 1;

//   --f-thumb-outline: 2px;
//   --f-thumb-outline-color: var(--f-brand-color);

//   --f-button-next-pos: 8px;
//   --f-button-prev-pos: 8px;
// }

// .f-thumbs.is-classic.is-horizontal {
//   padding: 0 56px;
// }

// .f-thumbs.is-classic.is-vertical {
//   padding: 56px 0;
// }

// #productCarousel .f-carousel__nav {
//   opacity: 0;
//   transition: opacity 0.15s;
// }

// @media (hover: hover) {
//   #productCarousel:hover .f-carousel__nav {
//     opacity: 1;
//   }
// }

// .fancybox__container {
// --fancybox-bg: #fff;
//   --fancybox-color: #6a6969;

//   --f-spinner-color-1: rgba(0, 0, 0, 0.1);
//   --f-spinner-color-2: rgba(17, 24, 28, 0.8);
// }

// TODO generador de problemas en el contenedor del slider
// @media screen and (min-width: 640px) {
//   .fancybox__container {
//     flex-direction: row-reverse;
//   }
// }

// .fancybox__thumbs.is-classic.is-horizontal {
//   --f-thumb-width: 75px;
//   --f-thumb-height: 55px;
//   --f-thumb-gap: 8px;
// }

// .fancybox__thumbs.is-classic.is-vertical {
//   --f-thumb-width: 100%;
//   --f-thumb-height: 100px;

//   width: 182px;

//   outline: 1px solid #edeef0;
// }

// .fancybox__thumbs.is-classic.is-vertical .f-thumbs__track {
//   padding: 0 16px;
// }

// .fancybox__toolbar {
//   padding: 8px;
// }

// .fancybox__nav {
//   --f-button-next-pos: 8px;
//   --f-button-prev-pos: 8px;
// }

// .fancybox__slide {
//   padding: 8px;
// }
