<div class="max-w-sm rounded overflow-hidden shadow-lg cursor-pointer hover:scale-105 hover:transition-transform duration-1000 my-8 bg-white shadow-gray-200 hover:-translate-y-1 dark:bg-gray-800 dark:shadow-gray-900">
  <img class="h-52 w-full rounded-t object-cover" [src]="imgUrl" alt="Sunset in the mountains">
  <div class="px-6 py-4 h-36">
    <div class="mb-4 text-lg font-bold leading-relaxed text-gray-800 dark:text-gray-300">{{ titulo }}</div>
    <small class="leading-5 text-gray-500 dark:text-gray-400">
      {{ descripcion }}
    </small>
  </div>
  <div class="px-6 pt-4 pb-2">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"># {{ tags }}</span>

  </div>
</div>
