<!-- <h1 class="mb-2 md:mb-4 font-semibold text-xl">Alquilo</h1> -->
<!-- <div id="app" class="">
  <div class="mb-4 max-w-4xl">
    <div id="productCarousel" class="f-carousel">
      <div
        *ngFor="let image of images"
        class="f-carousel__slide"
        [attr.data-thumb-src]="image['data-thumb-src']"
        data-fancybox="gallery"
        [attr.data-src]="image['data-src']"
      >
        <img alt="" [attr.data-lazy-src]="image['data-src']" />
      </div>
    </div>
  </div>
</div> -->

<div id="app" class="">
  <div class="mb-4 max-w-4xl">
    <div id="productCarousel" class="f-carousel">
      <div
        class="f-carousel__slide max-h-[400px]  md:max-h-[600px] overflow-hidden"
        [attr.data-thumb-src]="image.imgUrl"
        data-fancybox="gallery" [attr.data-src]="image.imgUrl">
        <img alt="" [attr.data-lazy-src]="image.imgUrl" />
      </div>
    </div>
  </div>
</div>
